@charset "utf-8";
@import url("banner.css");

/* CSS Document */

*{
	padding:0;
	margin:0;
}

/*===============banner================*/

#m1, #m2{
	position:relative;
	width:100%;
	height:auto;
	margin:auto;
	overflow:hidden;
}


/*==============other rwd===============*/

@media only screen and (min-width: 768px) {
#m1, #m2{
	width:80%;
}
}

@media only screen and (min-width: 1200px) {

}