@charset "utf-8";
/* CSS Document */

/*header*/
header{
    height: 50px;
    position:fixed;
    top:0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10000;
    margin:0;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    z-index: 20000;
}

.homePage{
/*    display: none;*/
    display:inline-block;
    padding:0;
    text-decoration: none;
}

.homePage span{
/*    display: none;*/
    font-family: haboro-contrast-extended,sans-serif;
    font-weight: 600;
    font-style: normal;
    float:left;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin: 10px 0 0 20px;
    color:#000;
    display: inline-block;
    -ms-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    
    transition: transform 1s;
    -webkit-transition: transform 1s;
    
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}

#name{
    display: none;
}

.homePage span:hover{
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
/*
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
*/
}

nav{
    display: none;
    float:right;
    margin: 0;
    padding:0;
    text-align: end;
    background: rgba(253,248,244,1);
    width:100vw;
    height:100vh;
}

nav span{
    position: absolute;
    left:10%;
    margin-top: 10vh;
    font-family: haboro-contrast-extended,sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-style: normal;
    font-size: 4vh;
}


nav ul{
	margin-top:30vh;
    list-style: none;
}

nav ul li{
    display: block;
    margin:10vh 10vw;
/*    text-align: center;*/

}

nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: haboro-contrast-extended,sans-serif;
    font-weight: 600;
    font-style: oblique;
    font-size: 5vh;
    color: #000;
    margin:auto;
}

.click{
    text-decoration: underline;
}

/*hamburger menu*/
.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3vw;
    top:3vh;
    width:50px;
    height:50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.burger{
    width:30px;
    height: 3px;
    background:#000;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}
.burger::before,
.burger::after{
    content: '';
    position: absolute;
    width:30px;
    height: 3px;
    background:#000;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}
.burger::before{
    transform: translateY(-10px);
}
.burger::after{
    transform: translateY(10px);
}

/*hamburger animation*/
.menu-btn.open .burger{
    transform: translateX(-30px);
    background: transparent;
}
.menu-btn.open .burger::before{
    transform: rotate(45deg) translate(21px, -21px);
}

.menu-btn.open .burger::after{
    transform: rotate(-45deg) translate(21px, 21px);
}


footer{
    clear: both;
    margin: 3vw auto 2vw;
    text-align: center;
    font-size: 0.8em;
    font-family: haboro-contrast-extended,sans-serif;
    font-weight: 400;
    font-style: normal;
}



@media only screen and (min-width:768px){

header{
    background-color: #FDF8F4;
}
    
#name{
    display:block;
}

.hid{
    display: none;
}

nav{
display:block;
background: none;
float:right;
width:100%;
padding: 0px;
margin-top:-50px;
text-align:end;
}
/*=========level 1=========*/

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li{
    position: relative;
    display: inline-block;
    margin:5px 0 0;
}

nav ul li a{
    font-family: haboro-contrast-normal,sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2em;
    color: #000;
    letter-spacing: 0.05em;
    display: inline-block;
    margin-right:2vw;
    padding: 10px 2vw;
    position: relative;
}
nav li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
    
nav li a:hover:after { 
  width: 100%; 
  left: 0; 
}
.menu-btn{
    display: none;
}  
}

@media only screen and (min-width:1200px){
    header{
        background: none;
    }

}
